@import url(style.css);

.news-section{
    width: 100%;
    height: auto;
    padding-top: 65px;
    padding-bottom: 65px;
    position: relative;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    background: linear-gradient(rgb(242, 99, 22, 0.57),  rgb(0, 30, 139));
}

.news-title{
    width: 100%;
    height: 10%;
    display: flex;
    background-image: url(../Assets/IMAGE/NEWS/top-background.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 50px;
    padding-left: 30px;
}

.news-title-text{
    width: 100%;
    font-size: 45px;
    font-family: 'firstFont';
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.news-title-text:hover{
    transform: scale(1.10);
}

.news-divider{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.news-wrapper{
    height: auto;
    width: 1150px;
    gap: 20px;
    display: flex;
    justify-content: space-around;
}

.news-divider-container-right{
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 400px;
    padding-top: 50px;
}

.news-divider-container-right::before{
    content: "";
    left: 40px;
    top: 108px;
    position: absolute;
    width: 50px;
    height: 292px;
    z-index: 1;
    background-color: white;
    clip-path: polygon(0 0, 38% 0%, 100% 100%, 62% 100%);
}

.news-divider-back-right{
    height: 700px;
    width: 100%;
    background-color: white;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 3% 100%);
    display: flex;
    align-items: center;
    padding-left: 50px;
    justify-content: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
}

.news-divider-title-right{
    height: 53px;
    width: 250px;
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    background: linear-gradient(to right, #F26316, #260F04);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    margin-bottom: 5px;
}

.news-divider-container-left{
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;
    height: 400px;
    padding-top: 50px;
}

.news-divider-container-left::before{
    content: "";
    right: 40px;
    top: 108px;
    position: absolute;
    width: 50px;
    height: 292px;
    z-index: 1;
    background-color: white;
    clip-path: polygon(62% 0, 100% 0%, 38% 100%, 0% 100%);
}

.news-divider-back-left{
    height: 700px;
    width: 100%;
    background-color: white;
    clip-path: polygon(0 0, 100% 0%, 97% 100%, 0% 100%);
    display: flex;
    align-items: center;
    padding-right: 50px;
    justify-content: left;
    overflow-x: auto;
    overflow-y: hidden;
}

.news-divider-title-left{
    width: 250px;
    clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 10% 100%);
    background: linear-gradient(to right,#260F04, #F26316);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    margin-bottom: 5px;
}

.news-divider-title-text{
    font-size: 20px;
    color: white;
    font-family: 'thirdFont';
}

.news-container {
    height: auto;
    width: 25%;
    min-width: 295px;
    min-height: 240px;
    z-index: 1;
    font-family: 'secondFont';
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    padding-bottom: 10px;
    position: relative;
    transition: transform 0.3s ease;
    color: inherit;
    text-decoration: none;
}

.news-container:hover{
    transform: scale(1.05);
}

.news-container::before{
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 99%;
    width: 98.5%;
    background: #F29316;
    filter: blur(50px);
    clip-path: polygon(100% 2%, 100% 86%, 80% 99%, 18% 99%, 18% 74%, 2% 66%, 0 0);
}

.news-shadow {
    height: auto;
    width: auto;
    min-width: 285px;
    min-height: 268px;
    background-color: #001E8B;
    clip-path: polygon(100% 0, 100% 87.5%, 81% 100%, 18% 100%, 18% 74%, 0 65%, 0 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-container-title{
    height: 54px;
    font-size: 16px;
    line-height: 100%;
    padding: 10px;
    color: #D9D9D9;
}

.news-container-imageNews{
    height: 135px;
    width: 100%;
    clip-path: polygon(100% 0, 100% 95%, 19% 95%, 0 76.5%, 0 0);
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-container-image{
    height: 93%;
    width: 96%;
    clip-path: polygon(100% 0, 100% 95%, 18% 95%, 0 76.5%, 0 0);
    object-fit: cover;
}

.news-container-description{
    padding-left: 60px;
    font-size: 13px;
    padding-right: 15px;
    font-family: 'secondFont';
    color: #d9d9d9;
}

.news-container-detail{
    display:flex;
    width: 100%;
    font-size: 9px;
    margin-bottom: 10px;
    color: #D9D9D9;
}

.news-container-top{
    height: 90%;
    width: 100%;
}

.news-container-bottom{
    height: 7%;
    width: 100%;
    line-height: 10px;
    display: flex;
    padding-left: 60px;
}

@media (max-width: 768px){
    .news-divider-container-right::before{
        width: 35px;
    }

    .news-divider-container-left::before{
        width: 35px;
    }
}

@media (max-width: 480px){
    .news-divider-container-left{
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: end;
        height: 400px;
        padding-top: 50px;
    }

    .news-divider-container-right{
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: start;
        height: 400px;
        padding-top: 50px;
    }

    .news-divider-back-left, .news-divider-back-right{
        clip-path: none;
        padding: 0 30px;
    }

    .news-title{
        padding: 0;
        background-position: 52% center;
    }

    .news-title-text{
        font-size: 32px;
    }
}